body{
    margin: 0;
}
.main-container{
display: flex;
flex-wrap: nowrap;
}
.right-container{


    width:30vmax;
    background-repeat: no-repeat;
    height: 55vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bottom-container{
      color: white;
      font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
      display: flex;
      width: 100%;
      height: 43vh;
      background: #2b1e16;
      justify-content: space-around;
      align-content: center;
      align-items:flex-start;
  }
  .bottom-container-item-head{
    font-size: 20px;
    font-weight: 600;
  }

  .bottom-container-item-desc{
    font-size: 15px;
    width: 260px;
    margin-top: 10px;
    color: #e0cbc1;
    line-height: 1.3;
  }
  .bottom-container-item{
      height:120px;
      width: 105px;
  }

  .left-container{

    background: white;
    height: 55vh;
    width: 70%;
  }
  .button-black{
      color: white;
    background: black;
      padding: 15px;
      margin: none;
      text-decoration: none;

  }
 .user-signup-sigin > div{

     width: 200px;
     display: flex;
     flex-wrap: nowrap;
     /* background: red; */
     /* align-content: space-between; */
    justify-content: space-around;
 }
 .left-container-logo{
     width: 100px;
 }
 .left-container-logo img{
     width: 60px;

 }
 .left-container{
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     /* background: red;  */
 }
 .left-container .left-up{
     display: flex;

     flex-wrap: nowrap;
     width: 100%;
     align-items: center;
     justify-content: space-between
 }
 .left-container-logo{

     display: flex;
     justify-items: center;
     align-items: center;
     /* margin-left: -5px; */
     color:#f0852a;
     font-weight: bold;
     font-size: 30px;
 }
 .left-container{
    box-sizing: border-box;
    padding: 30px;
    box-sizing: border-box;
 }
 .left-container-extra{
     margin-top:60px;
     box-sizing: border-box;
 }
 .left-container-extra h1{
    margin-top: 140px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -.45px;
 }
 .left-container-extra h2{
    font-size: 24px;
    font-weight: 300;
    width: 600px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    letter-spacing: -.3px;
    color: #686b78;
 }
 .left-down{
 overflow-y: auto;
  overflow-x: hidden;
 }