{% extends 'homepage_base.html' %}
{%block left_container%}
<div class="form-container" style="margin-top:20px;">
 <h2>Login</h2>
 <p>or <a href="{% url 'signup' %}">create an account</a></p>
 <form method="post">
   {% if messages %}
   <ul class="messages">
     {% for msg in messages %}
     <li>
       <div class="alert alert-{{msg.level_tag}}" role="alert">
         {{msg.message}}
       </div>
     </li>
     {% endfor %}
   </ul>
   {% endif %}
   {% csrf_token %}
   {% load crispy_forms_tags %}
   {{ form|crispy }}
   <button id="submit" type="submit">Login</button>
 </form>
</div>
<script>
 var x;
 var y;
 $(document).ready(function () {
   getLocation();
   $('#submit').click(function (e) {
     e.preventDefault();
     sendLocation();
   });
 });
 function getLocation() {
   if (navigator.geolocation) {
     navigator.geolocation.getCurrentPosition(showPosition);
   } else {
     console.log("Geolocation is not supported by this browser.");
   }
 }
 function showPosition(position) {
   console.log(position.coords.latitude, position.coords.longitude);
   x = position.coords.latitude;
   y = position.coords.longitude;
 }
 function sendLocation() {
   let username = $('#id_username').val();
   let password = $('#id_password').val();
   $.ajax({
     type: "POST",
     url: "/login/",
     data: {
       'lat': x,
       'lng': y,
       'username': username,
       'password': password
     },
     success: function (data) {
       console.log(data);
       window.location.href = data.url;
     }
   })
 }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRzUk-5Ak_cTp2DegKbe_b8i79Dewxc6Y&callback=initMap" async
 defer></script>
{%endblock%}