{% extends 'homepage_base.html' %}
{%block left_container%}
<h2>Sign up</h2>

{% load crispy_forms_tags %}


  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ sign_up_form.username|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ sign_up_form.email|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
 <div class="form-group col-md-6 mb-0">
        {{ sign_up_form.user_type|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ sign_up_form.user_mobile|as_crispy_field }}
      </div>
    </div>
       <div class="form-row">
 <div class="form-group col-md-6 mb-0">
        {{ sign_up_form.password1|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ sign_up_form.password2|as_crispy_field }}
      </div>
    </div>
       <div class="form-row">
 <div class="form-group col-md-6 mb-0">
        {{ sign_up_form.address|as_crispy_field }}
      </div>

    </div>


    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>


{%endblock%}
