<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'css/delivery_styles.css' %}"  media="screen,projection"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <nav>
            <div id="nav-bar" class="nav-wrapper">
              <a href="{% url 'home' %}" class="brand-logo"><img id="logo" src="{% static 'img/swiggy-logo.png' %}"></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="gray lighten-2"><a href=""></a>{{ user.username }}</li>
                <li class="black lighten-2"><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
          </nav>
        <div class="container">{% block content %}{% endblock %}</div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
    </body>
  </html>