{% extends 'nav.html' %}
{% block content %}
<div class="order">   
{% for order in orders %}
<div>Item :  {{order.name}}, cost: {{order.cost}}, quantity:{{order.quantity}}</div>
{% endfor %}
<div>Total Cost: {{cost}}</div>
<div class="pay"><a href="{% url 'status' %}">PLACE ORDER</a></div>
</div>
<style>
    .order{
        font-size:2em;
        margin:10em;
        margin-top:5em;
        border:0.1 em ridge black ;     
    }
    h2{
        margin-left:10em;
    }
    
</style>
{% endblock %}

