{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Swiggy</title>
    <link rel="stylesheet" href="{% static 'min.css' %}">
        <link rel="stylesheet" href="{% static 'materialize.css' %}">

    </head>
<body>
<nav>

       <div class="nav-wrapper">
         <a href="#" class="brand-logo"><img id="logo" src="{% static 'img/icon.png' %}"></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a href="{% url 'location' %}">Home</a></li>
           <li><a href="{% url 'status' %}">Status</a></li>
           <li><a href="{% url 'logout' %}">Logout</a></li>
         </ul>
       </div>
     </nav>

<style>
 .nav-wrapper{
   background: white;
 }
 .nav-wrapper a{
   color:black;
 }
.nav-wrapper img{
 width:2em;
 height:2em;
 padding: 5px;
}


</style>
      {% block content %}
      {% endblock %}
</body>

</html>
