{% extends 'nav.html' %}
{% block content %}
<div class='restaurant'>
    <div class="image"><img src="{{restaurant.img_path}}"></div>
    <div class="restaurant-details">
        <div class="name"> {{restaurant.restaurant_name}}</div>
        <div class="address">{{restaurant.restaurantaddress}}</div>
    </div>
</div>
<div class="cart-items">

    <div class='items'>
        {% for item in items %}
        <div class="item">
            <div><img src="{{item.img_path}}"></div>
            <div class="details">
                <div class="item-details">
                    <div> {{item.name}}</div>
                    <div>Rs:{{item.cost}}</div>
                </div>
                <div class='button'> <button>Add</button></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="cart"><h3>Cart</h3></div>
</div>
<style>
    .details {
        display: flex;
        justify-content: space-between;
    }

    .cart-items {

        display: grid;
        grid-template-columns: 80% 20%;
        margin:2em;
    }

    .restaurant {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 5em;
        margin: 1em;
        margin-left: 2em;
        margin-right: 2em;
        background-color: rgb(82, 86, 92);
        padding: 2em;
        color: white;
    }

    .restaurant .restaurant-details .name {
        font-size: 2em;
        align-content: center;
    color:white;
    }
  
    .restaurant .image {
        width: 15.3125em;
        height: 100%;

    }
    .restaurant img {
        align-items: center;
        height: 10.3125em;

        width: 15.3125em;
    }
.orderd_items{
    display:flex;
    justify-content:space-between;
    margin:1em;
}
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
        margin: 2em;
        height: auto;
    }
    .add_remove button{
     background-color:white;
     color:green;
     border:none;
    }
    .add_remove{
        border-block-color: gray;
    }
    .checkout{
        text-align: center;
        
    }
    .checkout button{
        color:white;
        background-color: green;
        padding:1em;
        width:100%;
    }

    .item {
        display: flex;
        flex-direction: column;

    }

    .item img {
        width: 100%;

    }

    .button {
        align-self: flex-end;
    }
    #cart h3{
        text-align: center;
    }
    
    .restaurant-details {
        align-items: center;
    }
</style>
<script>
    let data = []
    let buttons = document.getElementsByTagName("button")
    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', add)
    }

    function add(e) {
        let item = e.target.parentNode.parentNode.firstElementChild.firstElementChild.innerText;
        if (is_exist(item, 'check') != "true") {
            let price = e.target.parentNode.parentNode.firstElementChild.lastElementChild.innerText;
            bttns = document.getElementsByClassName("checkout")
            for (let i = 0; i < bttns.length; i++) {
                bttns[i].parentNode.removeChild(bttns[i])
            }
            let div = document.createElement('div')
            div.setAttribute('class', 'orderd_items')
            let item_element = document.createElement('span')
            item_element.innerText = item
            let price_element = document.createElement('span')
            price_element.innerText = price
            div.append(item_element)
            div.append(price_element)
            add_remove = document.createElement('span')
            add_remove.setAttribute('class','add_remove')
            add_bttn = document.createElement('button')
            quantity = document.createElement('span')
            quantity.textContent = 1
            remove_bttn = document.createElement('button')
            add_bttn.textContent = '+'
            remove_bttn.textContent = '-'
            add_remove.append(add_bttn)
            add_remove.append(quantity)
            add_remove.append(remove_bttn)
            div.append(add_remove)
            add_bttn.addEventListener('click', add_item)
            remove_bttn.addEventListener('click', remove)
            let checkout_element = document.createElement('div')
            checkout_bttn = document.createElement('button')
            checkout_bttn.textContent = 'CHECKOUT'
            checkout_element.append(checkout_bttn)
            checkout_element.setAttribute("class", "checkout")
            checkout_element.addEventListener('click', send_data)

            document.getElementById('cart').appendChild(div)
            document.getElementById('cart').append(checkout_element)
            data.push({
                'name': item,
                'quantity': 1
            })
            console.log(data)

        }

    }

    function send_data(e) {
        let items_info = JSON.stringify(data);
        var http = new XMLHttpRequest();
        var url = '/restaurants/checkout';
        http.open('POST', url, true);
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.status == 200) {
                console.log(http.response)
                anchor = document.createElement('a')
                anchor.href = "{% url 'checkout' %}"
                anchor.click()
            }
        }
        http.send(items_info);

    }

    function is_exist(item, request) {
        for (i = 0; i < data.length; i++) {
            if (data[i].name == item && request == "check") {
         // data[i].quantity=data[i].quantity+1
                return "true"
            }
            if (data[i].name == item && request == 'decrease') {
                data[i].quantity = data[i].quantity - 1
                if (data[i].quantity == 0) {
                    data.splice(i, 1)
                    console.log(data[i])
                    return 0;
                }
                return data[i].quantity
            }
            if (data[i].name == item && request == 'increase') {
                data[i].quantity = data[i].quantity + 1

                return data[i].quantity
            }

        }
    }

    function remove(e) {
        let item = e.target.parentNode.parentNode.firstElementChild.innerText
        console.log(item)
        let total_items = is_exist(item, "decrease")

        if (total_items == 0) {
            console.log(this.parentNode.parentNode.remove(this.parentNode))
            if (data.length == 0) {
                bttns = document.getElementsByClassName("checkout")
                for (let i = 0; i < bttns.length; i++) {
                    bttns[i].parentNode.removeChild(bttns[i])
                }
            }
        }
        e.target.parentNode.childNodes[1].textContent = total_items
        console.log(data)

    }

    function add_item(e) {
        let item = e.target.parentNode.parentNode.firstElementChild.innerText
        console.log(item)
        let total_items = is_exist(item, "increase")
        e.target.parentNode.childNodes[1].textContent = total_items
        console.log(data)
    }
</script>
{% endblock %}