{% extends 'nav.html' %}
{% block content %}
<div class="head"  >Available Restaurant</div>
<div class='restaurants'>

        {% for restaurant in restaurants %}
    <div class='restaurant'>
        <div><a href="{% url 'restaurant' pk=restaurant.pk %}"><img src="{{restaurant.img_path}}"></a></div>
        <div class="name">{{restaurant.restaurant_name}}</div>
    </div>
    {% endfor %}
</div>
<style>
.head{

text-align:center;
font-size:2em;
padding:1em;



}
    img{
        width:100%;
        height:100%;
    }
    .restaurant{
        display:flex;
        flex-direction:column;
        padding:1em;
    }
    .name{
        align-self: center;
    }
     .restaurants{
       display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
       grid:2em;
    }
    
</style>
<script>

</script>
{% endblock %}