body{
    background: #f4f5f7;
    margin: 0;
    
}
.button_container{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: space-between;
}
 .food_item_change_button{
     width: fit-content;
     border-radius: 18px;
     height: 20px;
     margin-top: 5px;
 }
 
.profile-wrapper ul, .profile-wrapper li {
	list-style:none;
	padding:0;
	margin:0;
}
.profile-wrapper a {text-decoration:none;}

.profile-wrapper {
    
	/* 
	position:relative;
    margin:50px auto; */
    width: 180px;
    position: absolute;
    right: 2%;
    z-index: 1;
}
.profile-wrapper::after {
 
	position: absolute;
	/* top: 20px; */
	/* right: 10px; */
	border-color: #333 transparent transparent;
	border-width: 6px;
	border-style: solid;
}
.profile-wrapper::before {
	 
	position: absolute;
	/* top: 20px; */
	/* right: 10px; */
	border-color: #eee transparent transparent;
	border-width: 6px;
	border-style: solid;
}
.profile-wrapper:hover::after {
	border-color: #111 transparent transparent;	
}

.profile-wrapper .profile {
	padding:10px;
	border:1px solid #000;
	border-radius:3px;
	box-shadow:0 1px 0 #555 inset, 0 1px 7px #111;
	background:-webkit-linear-gradient(#222, #111);

}
.profile:hover {
	cursor:pointer;
	background:-webkit-linear-gradient(#1f1f1f, #0a0a0a);
}
.profile .name {
	font-size:12px;
	color:#fff;
	line-height:26px;
	margin-left:10px;
}
.profile .name:hover {
	color:#0088cc;
}
.profile img {
	width:25px;
	display:inline;

    float:left;
	border:1px solid #111;
	border-radius:3px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.5) inset;
}

/* hide menu */
.menu {
	display:none;
	clear:both;
	margin:20px 0 0 0;
}
.menu li {
	font-size:12px;
	margin:0;
  padding: 10px 4px;
}
.menu li a {
	color:#555;
}
.menu li:hover > a{
	color:#eee;
}

.menu li:hover{
	border-left: 1px solid #111;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  border-top: 1px solid #111;
  border-radius: 3px;
}

/* hover profile show menu */
.profile:hover .menu {
	display:block;
}
.scroll {
    overflow-x: visible;
    
    overflow: scroll;
 }
 .scroll::-webkit-scrollbar {
     width: 12px;
 }
 
 .scroll::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     border-radius: 10px;
 }
 
 .scroll::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }
 ​
.main-container{
     
    width: 100%;
    
    max-height: 100vmin;
    height: 100vmax;
    
    display: flex;
    flex-direction: column;
    
}
.container-head  {

    padding: 10px;
    
    /* background: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 80px;
    height: 10vh;
    
} .owner-infomration{
    align-items: flex-start

}
.dashboard-menu{
    padding: 8px;
    box-sizing: border-box;
}
.menu-item{
    padding-top:10px;
    padding-bottom:10px;
    background:rgba(255, 188, 125, 0.85);
     
    margin-bottom: 15px;
    
}
.container-heading{
    
    text-align: center;
    padding: 30px;
    font-size:25px;
    font-weight: bold;
    letter-spacing: 2px;
     
}
.dashboard-container{
    display: flex;
    /* background: red; */
    height: 52.6em;
}
.dashboard-menu{
    background:#673a24;
    width: 40vmin;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: visible;
min-width:  40vmin;
}
 
/* .owner-infomration{
 display: flex;
 letter-spacing: 1.2px;
    flex-direction: column;
     
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid white; 
} */

.menu-header{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;  
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: bold;  
    /* border-bottom:1px solid white;  */
}
.choice-headering{
    text-align: center;
     padding: 5px;
     margin-left:10px;
     margin-right:10px; 
    border-bottom: .1px solid white;
}
.option{
    max-height: 120px;
     overflow: auto;
     overflow-x: visible;
     width: 100%;
     cursor: default;
}


.option ul:hover{
 font-weight: bold;
 font-stretch: extra-expanded;

}
.item-list{
    width: 100%;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
    overflow: auto;
    overflow-x: visible;
}
.dashboard-menu-item{
     margin: 25px;
     position: relative;
}

.scroll{
    /* background: red; */
    width: 100%;
    height: 100%;;
}
.food-item img{width: 100%;}
.food-detail div{
    padding-top:2px;
}

.dashboard-menu{
width: 140px;
}

.dashboard-menu-item{
    width: 100%;

}
#add-food-items{
    /* display: none;     */
    background:#DCDCDC	;

}
@import  url(https://fonts.googleapis.com/css?family=Montserrat);

 #add-food-items form button{
padding-top: 10px;
padding-bottom: 10px;
margin-top: 10px;
float:right;
 }
.text-input{

  position: relative;
  margin-top: 10px;
}
.food-category select{
margin-top: 15px;
padding: 10px;
width: 100%;

}
.text-input  input {
    display: inline-block;
    width: 410px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
     margin-left: 40px;
  }
  .text-input label{
      width: 100px;
  }
  .text-input   input  + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 3px 0 0 3px;
    padding: 0 20px;

    background: #663a24;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }

  .text-input input:focus + label{
    transform: translateY(-120%) translateX(0%);
    border-radius: 3px;
    transition: all 0.1s ease-out;
  }

  .text-input input:focus{
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
  }







.container {
    max-width: 960px;
     padding: 20px;
}
h1{
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
}
h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
}
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;}
    /* .avatar-edit {
        position: absolute;
        right: 12px;

        top: 10px;
    } */
    .avatar-upload .avatar-edit input {
        display: none;
    }
    .avatar-upload .avatar-edit input + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;
    }
    .avatar-upload .avatar-edit input + label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }

    .avatar-upload .avatar-edit input + label:after {
        content: "  +";
        font-family: 'FontAwesome';
        color: #dba6a6;
        position: absolute;
        top: 10px;
        left: -50;
        right: 0;
        text-align: center;
        margin: auto;
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 5%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .avatar-preview > div {
        width: 100%;
        height: 100%;
        border-radius: 5%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #avatar-edit label{
        float: right;
        background: #663a24;
    }


    /* ----------------------------- */


#all-food-items{
height:100%;}
#all-food-items{
    background: #DCDCDC;
    display: none;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

    #add-food-items form ,.food-item-form{

        width: 450px;
               /* background: yellow; */
            }
            .food-item-form{
                       /* background: yellow; */
                padding: 5px;
                padding-bottom: 15px;
            }
   #add-food-items{

        display: flex;
        flex-direction: row;
               /* background: yellow; */
    width: 100%;
   }
   .food-items-added{

       width: 65%;
       min-width: 400px;;
       max-width: 900px;
       padding: 10px;
       padding-top: 40px;
       padding-left: 30px;
       padding-right: 15px;
   }
   .food-item{
    background: #663a24;
  
}
.food-item{
    background: white;
    width: 150px;
    padding: 15px;
    margin: 5px;
    max-height: 310px;

    }





    /* __________--display none */
#add-food-items{
    display: none;
}
#all-food-items{
    display: none;
}
#ordered-item-data-container{
    display: none;
}
    /*  */

    .left-up{
        display: flex;
       /* background: blue; */
        flex-wrap: nowrap;
        width: 80%;
        align-items: center;
        justify-content: space-between
    }
    .left-container-logo{
       
        display: flex;
        justify-items: center;
        align-items: center;
        /* margin-left: -5px; */
        color:#f0852a;
        font-weight: bold;
        font-size: 30px;
    }
    .left-container-logo img{
    width: 60px;
    }
    .add-order-item
    {
        
        overflow-x:inherit;
    }
    .add-order-item ul {
        /* height: 20px; */
       display:  flex;
       align-items: center;
       flex-wrap: nowrap;
       justify-content: space-between;
       width: 82%;
       /* overflow-x:inherit; */
    }
    .add-order-item ul li{
        overflow: auto;
    }
     
    #ordered-item-data-container{
     width: 100%;
     padding: 100px;
        display: flex;
        flex-direction: column;
       
    }
    .order-item-detail > label{
        font-size:20px;
        font-weight: bolder;
    }
    .order-item-detail .nested label{
        font-weight: bold;
        
    }
    .nested ul{
        margin-top:5px ;
        
    }
    .nested > li{
        margin-top:10px; ;
        
    }
    .order-prepared-btn {
       padding: 10px;
       border-radius: 6px;
        margin-top: 15px;
    } 
.add-order-item{
    height: 100%;
}
.option:last-child{
    max-height: 90%;
}
    .menu-item:last-child{
 height: min-content;
max-height:40vh ;
    }
    .food-detail input{
width:100%;
    }

    .food-detail{
background: white;
border: none;

    }
    .text-input label{
    background:#663a24;
    }
.food-item-form{
display:flex;
flex-direction:column;
padding:6%;
justify-content:space-between;

height:50%;
}
 .image{
padding-top:5px;

}

.btnsubmitform{
float:right;
margin-top:5px;}

body{
font-family: 'Literata', serif;}